<link rel="stylesheet" href="~/css/HotelsDetails.css" />
@model Hotels
@{
    ViewData["Title"] = "Hotel Details";
}

<h2 class="text-lg-center">Hotel Details</h2>

<div class="card">
    <div class="card-body">
        <h3 class="card-title text-center">@Model.Name</h3>
        <p  id="title-text">@Model.Description</p>

        <dl class="row">
            <dt class="col-md-3">Hotel ID</dt>
            <dd class="col-sm-9 hover-effect">@Model.HotelsId</dd>

            <dt class="col-md-3">Name</dt>
            <dd class="col-sm-9 hover-effect">@Model.Name</dd>

            <dt class="col-md-3">Description</dt>
            <dd class="col-sm-9 hover-effect">@Model.Description</dd>

            <dt class="col-md-3">Type</dt>
            <dd class="col-sm-9 hover-effect">@Model.Type</dd>

            <dt class="col-md-3">Address</dt>
            <dd class="col-sm-9 hover-effect">@Model.Address</dd>

            <dt class="col-md-3">Rating</dt>
            <dd class="col-sm-9 hover-effect">@Model.Rating</dd>

            <dt class="col-md-3">Price</dt>
            <dd class="col-sm-9 hover-effect">@Model.Price</dd>

            <dt class="col-md-3">Start Date</dt>
            <dd class="col-sm-9 hover-effect">@Model.AvailabilityStartDate</dd>

            <dt class="col-md-3">End Date</dt>
            <dd class="col-sm-9 hover-effect">@Model.AvailabilityEndDate</dd>
        </dl>
        &nbsp;

        <a asp-controller="Hotels" asp-action="Edit" asp-route-id="@Model.HotelsId" class="btn btn-outline-warning">Edit</a>
        &nbsp;
        <a asp-controller="Hotels" asp-action="Index" class="btn btn-danger">Go back to the Hotels</a>
    </div>
</div>

