@model Cars
@{
    ViewData["Title"] = "Details";
}

<div class="container my-5">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Car Rental Details</h1>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4">Model:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Model)</dd>

                <dt class="col-sm-4">RentalCompany:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.RentalCompany)</dd>

                <dt class="col-sm-4">Price:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Price)</dd>

                <dt class="col-sm-4">Available From:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.AvailabilityStartDate)</dd>

                <dt class="col-sm-4">Available To:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.AvailabilityEndDate)</dd>
            </dl>
        </div>
        <div class="card-footer">
            <a asp-action="Edit" asp-route-id="@Model?.CarId" class="btn btn-primary me-2">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>